<p-card
  header="{{_hero? _hero.superhero: 'no provided'}}"
  subheader="{{_hero?_hero.publisher: 'no provided' }}"
  [style]="{ width: '290px', height: '480px' }"
>
  <div style="height: 300px; width: 250px">
    <img
      alt="Card"
      src="{{_hero | heroImage:'jpg'}}"
      width="250"
      height="300"
    />
  </div>

  <ng-template pTemplate="footer">
    <div *ngIf="editable" class="flex justify-content-between">
      <a routerLink="new" [routerLink]="['/heroes/id', '_hero.id']">
        <i class="pi pi-ellipsis-h bottom-0"></i>
      </a>
      <a routerLink="new" [routerLink]="['/heroes/edit', '_hero.id']">
        <i class="pi pi-user-edit"></i>
      </a>
    </div>
  </ng-template>
</p-card>
