<div class="card">
  <p-megaMenu [model]="items" styleClass="flex">
    <ng-template pTemplate="start">
      <div class="flex align-items-center">
        <img
          src="https://primefaces.org/cdn/primeng/images/primeng.svg"
          height="40"
        />
        <span
          class="font-bold ml-1 mr-4 text-2xl"
          style="font-family: Genos, serif"
          >Heroes</span
        >
      </div>
    </ng-template>
    <ng-template pTemplate="end">
      <div class="grid justify-content-end align-items-center">
        <div class="col">
          <form [formGroup]="formGroup">

            <p-autoComplete
              (keyup)="keyupEvent()"
              (keyup.enter)="heroPage()"
              class="p-inputtext-sm"
              [size]="40"
              [inputStyle]="{ width: '100%' }"
              id="publisher"
              placeholder="Search heroes by name"
              formControlName="searchInput"
              [suggestions]="filtered"
              (completeMethod)="suggestion($event)"
            ></p-autoComplete>

            <a [routerLink]="['/auth/login']" class="ml-4 mr-2">
              <i class="pi pi-sign-out"></i>
            </a>

          </form>
        </div>
      </div>

      <!--<div class="mr-3">
        <span class="p-input-icon-right">
          <i class="pi pi-search"></i>
          <input
            placeholder="Search hero by name"
            type="text"
            pInputText
            style="width: 35vw"
          />
        </span>
      </div>-->
    </ng-template>
  </p-megaMenu>
</div>
